.CustomSelect {
    position: relative;
}

.dropdown {
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 99;
    border-radius: 5px ;
    border: 2px solid #ccc;
    padding-left: 1%;
    max-height: 20vh;
    overflow-y: auto;
}

.group {
    margin-top: .25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.group-options {
    padding-left: 1rem;

}

.select-all {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .25rem;
    width: 100%;
    border-bottom: 2px solid #ccc;
}